In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

%matplotlib inline

In [10]:
df = pd.read_csv('comic_characters.csv', index_col=0)

In [11]:
df.head()

,Name,Identity,Alignment,Eyes,Hair,Sex,Alive,Appearances,First_appeared,Planet,Universe
Id,,,,,,,,,,,
0,Dave Finn,Secret,Good,Blue,Black,Male,Yes,1,"2002, July",Earth-616,Marvel
1,Katherine Power,Secret,Good,Blue,Red,Female,Yes,106,"1984, August",Earth-616,Marvel
2,John Malone,Secret,Bad,Blue,White,Male,Yes,15,"1985, January",New Earth,DC
3,"Samuel Bradley, Jr.",Public,Bad,Brown,Brown,Male,No,19,"2004, March",New Earth,DC
4,Hope Taya,Public,Bad,Brown,Black,Female,Yes,28,"1999, December",New Earth,DC

In [24]:
df \
    .groupby('Identity') \
    .agg(['count'])

,Name,Alignment,Eyes,Hair,Sex,Alive,Appearances,First_appeared,Planet,Universe
,count,count,count,count,count,count,count,count,count,count
Identity,,,,,,,,,,
Known to Authorities,22,22,22,22,22,22,22,22,22,22
Non-dual,2072,2072,2072,2072,2072,2072,2072,2072,2072,2072
Public,8585,8585,8585,8585,8585,8585,8585,8585,8585,8585
Secret,10451,10451,10451,10451,10451,10451,10451,10451,10451,10451
Unknown,13,13,13,13,13,13,13,13,13,13

In [36]:
df.sort_values('Appearances', ascending=False).head(20)

,Name,Identity,Alignment,Eyes,Hair,Sex,Alive,Appearances,First_appeared,Planet,Universe
Id,,,,,,,,,,,
7518,Spider-Man,Secret,Good,Hazel,Brown,Male,Yes,4043,"1962, August",Unknown,Marvel
1114,Captain America,Public,Good,Blue,White,Male,Yes,3360,"1941, March",Unknown,Marvel
8155,Batman,Secret,Good,Blue,Black,Male,Yes,3093,"1939, May",Unknown,DC
11416,Wolverine,Public,Neutral,Blue,Black,Male,Yes,3061,"1974, October",Unknown,Marvel
2253,Iron Man,Public,Good,Blue,Black,Male,Yes,2961,"1963, March",Unknown,Marvel
14876,Superman,Secret,Good,Blue,Black,Male,Yes,2496,"1986, October",Unknown,DC
11244,Thor,Non-dual,Good,Blue,Blond,Male,Yes,2258,"1950, November",Unknown,Marvel
5453,Benjamin Grimm,Public,Good,Blue,No,Male,Yes,2255,"1961, November",Earth-616,Marvel
16103,Reed Richards,Public,Good,Brown,Brown,Male,Yes,2072,"1961, November",Earth-616,Marvel
13651,Hulk,Public,Good,Brown,Brown,Male,Yes,2017,"1962, May",Unknown,Marvel
1022,Scott Summers,Public,Neutral,Brown,Brown,Male,Yes,1955,"1963, September",Earth-616,Marvel
3689,Jonathan Storm,Public,Good,Blue,Blond,Male,Yes,1934,"1961, November",Earth-616,Marvel
8193,Henry McCoy,Public,Good,Blue,Blue,Male,Yes,1825,"1963, September",Earth-616,Marvel
4437,Susan Storm,Public,Good,Blue,Blond,Female,Yes,1713,"1961, November",Earth-616,Marvel
6340,Green Lantern,Secret,Good,Brown,Brown,Male,Yes,1565,"1959, October",Unknown,DC
1106,Ororo Munroe,Public,Good,Blue,White,Female,Yes,1512,"1975, May",Earth-616,Marvel
11380,Clinton Barton,Public,Good,Blue,Blond,Male,Yes,1394,"1964, September",Earth-616,Marvel
18569,Matthew Murdock,Public,Good,Blue,Red,Male,Yes,1338,"1964, April",Earth-616,Marvel
9936,James Gordon,Public,Good,Brown,White,Male,Yes,1316,"1987, February",New Earth,DC
5909,Stephen Strange,Public,Good,Grey,Black,Male,Yes,1307,"1963, July",Earth-616,Marvel

In [41]:
df[df['Name'] == 'Peter Parker']

,Name,Identity,Alignment,Eyes,Hair,Sex,Alive,Appearances,First_appeared,Planet,Universe
Id,,,,,,,,,,,
2955,Peter Parker,Non-dual,Bad,Brown,Red,Male,No,1,"1972, October",Earth-616,Marvel
3227,Peter Parker,Secret,Bad,White,No,Male,Yes,35,"1992, June",Earth-616,Marvel
3898,Peter Parker,Secret,Good,Hazel,Brown,Male,Yes,137,"1994, December",Earth-616,Marvel
5088,Peter Parker,Secret,Good,Hazel,Blond,Male,No,263,"1975, October",Earth-616,Marvel
6573,Peter Parker,Secret,Bad,Hazel,Brown,Male,No,3,"1995, March",Earth-616,Marvel
8224,Peter Parker,Secret,Bad,Green,No,Male,Yes,6,"2008, June",Earth-616,Marvel
9176,Peter Parker,Secret,Neutral,Hazel,Bald,Male,No,8,"1995, March",Earth-616,Marvel
11268,Peter Parker,Secret,Neutral,Blue,Black,Male,No,12,"1996, February",Earth-616,Marvel
19240,Peter Parker,Secret,Bad,Hazel,Brown,Male,No,35,"1995, March",Earth-616,Marvel

In [42]:
df.Planet.value_counts()

Earth-616       14606
New Earth        6362
Unknown            93
Earth-One          37
Earth-Two           8
Prime Earth         8
Earth-982           4
Earth-98121         3
Earth-X             3
Earth-1610          2
Earth-3             2
Earth-20051         1
Earth-61018         1
Earth-41001         1
Earth-4096          1
Earth-5311          1
Earth-9510          1
Earth-8410          1
Earth-5012          1
Earth-20476         1
Earth-TRN361        1
Earth-11418         1
Earth-941066        1
Earth-Four          1
Earth-11052         1
Earth-148611        1
Name: Planet, dtype: int64