In [2]:
import pandas as pd

In [1]:
def read_n_agg(path):
    df = pd.read_csv(path, sep=';')
    mean_inc = df.groupby('company').agg({'income': 'mean'}).rename(columns={'income': 'mean_income'}).round(2)
    return mean_inc

In [3]:
path = '3_companies.csv'

In [4]:
read_n_agg(path)

                                           mean_income
company
En +                                      9.962187e+10
АО «Александрова, Савельев и Мельникова»  7.206782e+10
АО «Андреев-Анисимов»                     6.931948e+09
АО «Андреев-Макарова»                     8.934380e+10
АО «Большаков Кошелева»                   7.860861e+10
...                                                ...
Щекиноазот                                4.309092e+10
Щукин Лимитед                             6.703036e+10
Эйвон Бьюти Продактс Компани (Avon)       2.503657e+10
Яковлева Инкорпорэйтед                    3.523436e+10
Якушев Лимитед                            3.876468e+10

[289 rows x 1 columns]